<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbConfig" type="CrawlerLibrary.DAL.Configuration.DataBaseConfigurationSection, CrawlerLibrary" />
    <section name="gmail" type="CrawlerLibrary.Configuration.GMailSection, CrawlerLibrary"/>
  </configSections>
  <dbConfig>
    <database type="CrawlerLibrary.DAL.MongoDB.DataBaseForMongo, CrawlerLibrary" connectionString="mongodb://localhost/crawler"/>
  </dbConfig>
  <gmail>
    <accounts>
      <add name="some.crawl" password="riba_Kit"/>
    </accounts>
  </gmail>
</configuration>